/* Separator Component - Mobile First */

.separator {
  background-color: var(--color-border, #e5e7eb);
  flex-shrink: 0;
}

.separator[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

.separator[data-orientation="vertical"] {
  height: 100%;
  width: 1px;
}
